*{
    margin: 0;
    padding:0;
}
.container{
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    background: url("https://teex.org/GalleryPictures/Student-Portal-Banner-1140x350.jpg")  ;
    background-size: 100%;
}
.card-wrapper{
    height: 650px;
    width: 500px;
    border: 1px solid #fff;
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-30%, -30%);
    background: url("https://teex.org/GalleryPictures/Student-Portal-Banner-1140x350.jpg")  ;
    transition: box-shadow 1s;
    border-radius: 5px;
    overflow: hidden;
}
.card-wrapper:hover {
  box-shadow: 0 0 30px #ffff;
}
.card{
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(200deg, rgb(109, 138, 111) 50%,rgba(223, 247, 7, 0.8));
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: top 0.3s 0.5s;

}
.card-wrapper:hover .card{
    top: 0;
}
.card-img{
    height:400 px;
    height: 200px;
    border-radius: 70%;
    object-fit: cover ;
    margin-top: 15px;
    border: 2px solid  #fff;
    padding: 10px;
    box-shadow: 20px 30px 50px rgba(0,0,0,0.5);
  background-size: 50% 50%;

  max-width: 350px;
}
.card-heading{
    font-family: monospace;
    font-size: 30px;
   letter-spacing: 3px;
   background: linear-gradient(#92ca9d, rgb(122, 157, 168));
   text-align: center;
   padding:5px 0;
   transform: perspective(1000px) skewX(-20deg) rotateY(10deg);
  
}
.card-paragraph{
    font-size: 18px;
    color: black;
    width: 85%;
    text-align: justify;
    font-weight: bold;
    position: relative;
}
.card-paragraph :first-child{
    top: -10%

}
.card-paragraph :last-child{
    bottom: -10%
}
.connection{
  
        font-size: 18px;
        color: black;
        width: 85%;
        text-align: center;
        font-weight: bold;
    
}
.card-items{
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;

}
.card-icon-link{
    text-decoration: none;
    width: 45px;
    height: 45px;
    max-width: 50px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: border .2s;
    
}
.card-icon-link:hover{
    border: 2px solid #1b5cf5;
}
.card-items{
    font-size: 30px;
    color: white;
    transition: color .2s;
}
.card-icon-link:hover  .card-items{
    color: #1b5cf5;
}

.card-button{
 border: none;
 outline: none;
 width: 200px;
 height: 35px;
 margin-bottom: 20px;
 border-radius: 50px;
 background: linear-gradient(#786e94,#5676cf);
 text-transform: uppercase;
 font-size: 15 px;
 box-shadow: 0 10px 20px rgba(0,0,0,0.5);

}




































